body { padding: 2em;font-family: 'Raleway', sans-serif; background: #dddddd; }
input[type="text"],select, textarea { padding: 5px 7px; font-family: 'Raleway', sans-serif; }
.container, .center-row { display: flex; }
.container { flex-direction: column; }
h1,h2,h3 { text-align:center; }
.center-row { justify-content: center; }
.section { margin: 10px;padding: 10px;background: #fff;}
.form { flex-direction:column; align-items:center; }
.form-item { display:flex; flex-direction: row; min-width:400px; margin-bottom:20px; }
.form-item>label { width:80px; margin-right: 25px;font-weight: 700; }
.form-item>input,select { flex-grow:1; }
.mb-30 { margin-bottom:30px; }
.btn{ padding: 10px 18px;color: #fff; border: none; border-radius: 3px; margin: 0 0.25em; transition: all 0.3s;text-transform: uppercase;cursor: pointer;}
.btn:hover { box-shadow: 0 0 4px rgba(3,3,3,0.8); opacity: 0.9; }
.btn-primary{ background-color: #03A9F4; }
.btn-primary-1{ background-color: #3F51B5; }
.btn-primary-2{ background-color: #E91E63; }
.btn-danger{ background: #ff2616; }
.btn-info{ background: #4CAF50; }
table.table { width: 100%; border-spacing: 0;}
.table th, .table td { text-align: center;}
.table th { background: grey; color: white; padding: 0.25em; }
.table td { background: #8080804f; color: #000; padding: 0.25em; }
.table td span{ display: none; }

/* Small screens */
@media all and (max-width: 500px) {
    .form-item { display: flex; min-width: auto; flex-direction: column; align-self: stretch; margin-bottom:15px; }
    .form { margin:0 15px; }
    .form-item>label { margin-bottom:12px; width: unset; margin-right: unset;}
    .mb-sm-20 { margin-bottom: 20px; }
}
@media screen and (max-width: 750px) {
    .table thead {display: none;}
    .table tr { display: flex; flex-direction: row;flex-wrap: wrap; margin: 0.5em 0; border: 1px solid rgba(3,3,3,0.2); text-align: justify; }
    .table td { flex: 1 1 150px; border: 0.5px solid rgba(3,3,3,0.2); display: inherit; }
    .table td span{ display: block; font-weight: 900;}
}